
.modal {
  display: flex;
  flex-direction: column;
  width: 650px;
  height: 500px;
  border: 1px solid #1D2126;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 1px 1px 10px 2px #000;
}

[data-theme='dark'] .modal {
  color: #fff;
  background-color: #0F1214;
}

@media all and (max-width: 768px) {
  .modal {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}

.searchBar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 15%;
  padding: 20px;
  border-bottom: 1px solid #adb5bd;
}

@media all and (max-width: 768px) {
  .searchBar {
    height: 10%;
    padding: 10px;
  }

  .searchBar svg {
    font-size: 42px;
  }
}

[data-theme='dark'] .searchBar {
  border-bottom: 1px solid #1D2126;
}

.input {
  width: 100%;
  padding: 0 20px;
  font-size: 24px;
  border: none;
  outline: none;
}

@media all and (max-width: 768px) {
  .input {
    font-size: 20px;
    padding: 0 10px;
  }
}

[data-theme='dark'] .input {
  background-color: #0F1214;
}

.close {
  color: #000;
  font-size: 35px;
  cursor: pointer;
}

[data-theme='dark'] .close {
  color: #fff;
}

.footer {
  width: 100%;
  height: 5%;
  background-color: #f1f3f5;
  border-top: 1px solid #adb5bd;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

[data-theme='dark'] .footer {
  border-top: 1px solid #1D2126;
  background-color: #0F1214;
}