
.footer {
  width: 100%;
  min-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #292E28;
  gap: 15px;
}

.item {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.item span {
  font-weight: 600;
}