
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  padding: 10px 20px;
}

.left {
  display: flex;
  color: #000;
}

[data-theme='dark'] .left {
  color: #66B3FF;
}

.right {
  display: flex;
  align-items: center;
  gap: 10px;
}

[data-theme='dark'] .right {
  color: var(--primary-color);
}

.logo {
  font-size: 22px;
  font-weight: 800;
  cursor: pointer;
  color: var(--melon);
}

.searchBar {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #303741;
  width: 180px;
  height: 38px;
  padding: 0 10px;
  background-color: #f1f3f5;
  border: 1px solid var(--border-color);
  border-radius: 12px;
  gap: 7px;
  outline: none;
  cursor: pointer;
  transition: all 0.1s linear;
}

.searchBar:hover {
  background-color: var(--hover-primary-color);
}

[data-theme='dark'] .searchBar {
  color: #b6bec9;
  background-color: var(--background-primary-color);
}

[data-theme='dark'] .searchBar:hover {
  border-color: var(--primary-color);
} 

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  padding: 6px;
  border: 1px solid var(--border-color);
  border-radius: 12px;
  background-color: var(--background-primary-color);
  cursor: pointer;
  transition: all 0.1s linear;
}

.button:hover {
  background-color: var(--hover-primary-color);
}

[data-theme='dark'] .button:hover {
  border-color: var(--primary-color);
}