
.tag {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  border-radius: 25px;
  padding: 8px 15px;
  cursor: pointer;
  user-select: none;
  gap: 4px;
  transition: all 0.1s linear;
}

.active {
  color: #fff;
  border: 2px solid #0d47a1;
  background-color: #0d47a1;
}

.inactive {
  color: #0d47a1;
  border: 2px solid #868e96;
  background-color: #fff;
}

.tag:hover {
  color: #fff;
  border: 2px solid #0d47a1;
  background-color: #0d47a1;
}