
.main {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  gap: 100px;
}

.aside {
  display: flex;
  flex-direction: column;
  width: 150px;
  min-height: 100vh;
}

@media all and (max-width: 768px) {
  .main {
    padding: 0;
  }

  .aside {
    display: none;
  }
}

/* 마크다운 CSS */

.article {
  width: 800px;
  min-height: 100vh;
  padding-bottom: 10vh;
}

@media all and (max-width: 768px) {
  .article {
    width: 100vw;
    padding: 0 10px;
    padding-bottom: 5vh;
  }
}

.article h1 {
  font-size: 48px;
  margin-top: 50px;
}

.article h2 {
  font-size: 36px;
  margin-top: 50px;
  border-bottom: 2px solid #e3e3e3;
  padding-bottom: 25px;
}

.article h3 {
  font-size: 24px;
  margin-top: 50px;
  border-bottom: 2px solid #e3e3e3;
  padding-bottom: 25px;
}

@media all and (max-width: 768px) {
  .article h1 {
    font-size: 36px;
  }

  .article h2 {
    font-size: 24px;
  }

  .article h3 {
    font-size: 18px;
  }
}

.article p {
  font-size: 17px;
  line-height: 2em;
}

@media all and (max-width: 768px) {
  .article p {
    font-size: 14px;
  }
}

.article a {
  color: var(--primary-color);
}

.article a:hover {
  text-decoration: underline;
}

.article pre {
  padding: 20px;
  margin: 40px 0;
  border: 1px solid #374151;
  border-radius: 10px;
}

@media all and (max-width: 768px) {
  .article figure {
    padding: 0 10px;
    margin: 0;
  }

  .article pre {
    padding: 10px;
    font-size: 14px;
  }

  .article pre code span {
    white-space: pre-wrap;
  }
}

.article :not(pre) > code {
  color: #000;
  background-color: #e9ecef;
  font-size: 15px;
  border: 1px solid #868e96;
  border-radius: 10px;
  padding: 3px 8px;
}

[data-theme='dark'] .article :not(pre) > code {
  color: #fff;
  background-color: #282c34;
  border: 1px solid #495057;
}

@media all and (max-width: 768px) {
  .article :not(pre) > code {
    font-size: 13px;
    padding: 2px 7px;
  }
}

.article blockquote {
  margin: 40px 20px;
  padding: 10px 20px;
  border: 1px solid var(--border-color);
  border-Radius: 10px;
  background-color: rgba(24, 152, 255, 0.2);
}

[data-theme='dark'] .article blockquote {
  border: none;
  background-color: rgba(102, 179, 255, 0.3);
}

.article li {
  margin: 10px 0;
}

@media all and (max-width: 768px) {
  .article li {
    font-size: 13px;
  }
}