
.sticky {
  position: sticky;
  display: flex;
  flex-direction: column;
  top: 40%;
  gap: 20px;
}

.sticky strong {
  font-size: 12px;
  padding-left: 12px;
  letter-spacing: 2px;
}

.tocList {
  display: flex;
  flex-direction: column;
  color: var(--dark-gray);
  font-weight: 600;
  gap: 10px;
}

[data-theme='dark'] .tocList {
  color: var(--light-gray);
}

.tocList a:hover {
  color: var(--primary-color);
}

.active {
  color: var(--primary-color);
  padding: 5px 5px 5px 10px;
  border-left: 2px solid var(--primary-color);
}

.inactive {
  padding: 5px 5px 5px 12px;
}